* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.hrader {
  padding: 80px 50px 0px 50px;
  background: #fff8f3;
  background-image: url("images/developer.png"), url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  /* margin-bottom: 100px; */
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 30px; */
  /* padding: 50px 0; */
}
.navigation-buttons > ul {
  display: flex;
}
.navigation-buttons > ul > li {
  list-style: none;
}
.navigation-buttons > ul > li > a {
  text-decoration: none;
  margin-left: 15px;
  font-size: large;
  text-transform: capitalize;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-items h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.hero-items h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}
.hero-items > button {
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  margin: 40px 20px 0px 0;
}
.hero-items p {
  display: flex;
  width: 585px;
  flex-direction: column;
  flex-shrink: 0;
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.hero-items-iamge >{
  width: 100%;
  display: flex;
  justify-items: flex-end;
  padding-bottom: 0px;
}


/* main start */
